# GitHub Actions Workflow para Compilar la Aplicaci칩n Flask/PyInstaller para Windows (64-bit)

name: Compilacion y Despliegue para Windows (PyInstaller)

on:
  # Dispara el flujo de trabajo manualmente desde la interfaz de GitHub
  workflow_dispatch:
  # O dispara autom치ticamente cuando se hace un push a la rama 'main'
  push:
    branches: [ main ]

jobs:
  build-windows:
    # Utilizamos un servidor virtual con Windows
    runs-on: windows-latest

    steps:
      # Paso 1: Descargar el c칩digo fuente del repositorio
      - name: Checkout Code
        uses: actions/checkout@v4
      
      # Paso 2: Crear el Archivo .env para PyInstaller
      - name: Crear .env para PyInstaller
        run: |
          $content = @"
          MYSQL_HOST=notserv
          MYSQL_USER=user_de_ejemplo
          MYSQL_PASSWORD=pwd_de_ejemplo
          MYSQL_DATABASE=compliance_db
          MYSQL_PORT=3306
          "@
          Set-Content -Path .env -Value $content
        shell: powershell

      # Paso 3: Configurar Python 3.11 (64-bit)
      - name: Set up Python 3.11 (64-bit)
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          architecture: 'x64'

      # Paso 4: Instalar las dependencias usando requirements.txt
      - name: Instalar Dependencias
        run: |
          pip install pyinstaller
          pip install -r requirements.txt

      # Paso 5: Ejecutar PyInstaller usando el archivo de especificaciones
      - name: Compilar la Aplicaci칩n
        run: pyinstaller busqueda_app.spec

      # Paso 6: Empaquetar y subir el resultado como un artefacto de GitHub
      - name: Subir el Paquete (Artefacto)
        uses: actions/upload-artifact@v4
        with:
          name: busqueda_unificada_windows_package
          path: dist/busqueda_unificada_win/